#fichiers composer
composer.lock
composer.phar
vendor/

#fichiers config
*/.settings
auditeur/src/config/config.inc.php
animateur/src/config/config.inc.php
*/.buildpath
*/project
*/.idea
.idea/*
.idea
*/src/config/config.inc.php
*/config/config.inc.php

*.map
