.titre, .divForm, .btn-newLogin, .divModal, .titre-compte, .btn-newPass  {
    text-align: center;
  }

.titre-compte, .email, a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #212529;
}

.manageAcc, .modal-login, .modal-password {
    min-width: 290px;
}

.btn-changeLogin, .btn-changeMdp {
    background-color: #c6842f;
    border-color: #c6842f;
    color: white;
}

.manageAcc {
    border: 1px solid 000000e6;
    border-radius: 10px;
    background-color: #c6842f24;
    box-shadow: black 1px 4px 15px
}