.leDirect {
    background-image: url('https://media2.giphy.com/media/17mRAZbp32pKU/giphy.gif?cid=ecf05e470d90fb838393d83e51a0a4d1a620cbe5d51f1a60&rid=giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 8px 8px 15px blanchedalmond;
}

.ico-btn {
    color: #e19a3e;
}

.volume {
    vertical-align: bottom;
    display: inline-block;
    height: 25px;
    white-space: nowrap;
    position: relative;
    width: 45px;

    > a {
        display: inline-block;
        background-color: #ebebeb;
        width: 8px;
        margin-left: 0px;
        margin-right: 0px;
        cursor: pointer;
        border-left: 1px solid #fff;
        position: absolute;
        bottom: 0;
    }
}

.stick1 {
    height: 8px;
    left: 0px;
}

.stick2 {
    height: 13px;
    left: 9px;
}

.stick3 {
    height: 20px;
    left: 18px;
}

.stick4 {
    height: 25px;
    left: 27px;
}

.stick5 {
    height: 30px;
    left: 36px;
}

#progressBarControl {
    width: 80%;
    height: 15%;
    border: 1px solid #aaa;
    margin: 5px;
    display: inline-block;
}

#progressBar {
    background-color: red;
    height: 15%;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.deep-orange {
    background-color: #e19a3e  !important;
}

.btn-floating i {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    width: inherit;
    line-height: 70px;
}

.btn-floating {
    margin: 5px;
    vertical-align: middle;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.pasEmission {
    background-color: #ecb670e0;
    display: none;
    border-radius: 5px;
}

.infosEmission {
    display: none;
    border-radius: 5px;
    background-color: #ecb670e0;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
    width: 80%;
}

// Partie spinner
.lds-spin {
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spin div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 8px;
    background: #2d2d2d;
    animation: lds-spin 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-spin div:nth-child(1) {
    left: 8px;
    animation-delay: -0.3s;
  }
  .lds-spin div:nth-child(2) {
    left: 22px;
    animation-delay: -0.1s;
  }
  .lds-spin div:nth-child(3) {
    left: 36px;
    animation-delay: 0;
  }
  .lds-spin div:nth-child(4) {
    left: 50px;
    animation-delay: -0.1s;
  }
  .lds-spin div:nth-child(5) {
    left: 64px;
    animation-delay: -0.3s;
  }
  @keyframes lds-spin {
    0% {
      top: 2px;
      height: 74px;
    }
    50%, 100% {
      top: 24px;
      height: 22px;
    }
  }

// Partie gestion du volume
.volumeicone {
    width: 50%;
    display: inline-block;
}

.slidecontainer {
    width: 80%;
    display: inline-block;
    vertical-align: super;
  }
  
  .volume {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;
  }
  
  .volume:hover {
    opacity: 1;
  }
  
  .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .volume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
  }
  
.onair {
    display: none;
}

.fa-volume-up {
    color: white;
    margin-left: 5px;
    font-size: 1.5rem;
}