body{
  background-color: #FEF4E4;
}

#conteneur-emission{
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  div {
    min-width: 400px;
    border-width: 2px;
    border-radius: 20px;
    border-color: #e19a3e;
    border-style: solid;
    padding: 5px;
    margin-right: 2vw;
    margin-top: 2vh;
    text-align: center;

    color: #e19a3e;
    background-color: lighten(#343a40,5%);
  }
}