{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block script %}
	<script src="{{ root }}/public/js/Creneau.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ root }}/public/style/css/Creneau.css">
{% endblock %}

{% block body %}
	{{ parent() }}
	<style>
		body {
			background-color: lightgrey;
		}
	</style>

	<div class="titre">
		<h1>Ajouter un programme</h1>
	</div>

	<div class="formulaire divForm container-fluid">
		<form action="{{ base_url() }}/addProgramme" method="post" class="myForm" id="xxxx">
			<div class="form-group">
				<label for="nom">Nom :</label>
				<input class="form-control" type="texte" id="nom" name="nom">
			</div>

			<div class="form-group">
				<label for="desc">Description :</label>
				<input class="form-control" type="texte" id="desc" name="desc">
			</div>
			<button class="btn btn-primary" type="submit">Ajouter</button>
		</form>
	</div>


{% endblock %}
