{% extends "Template.html.twig" %}
{% set root = base_url() %}

{% block body %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ root }}/public/style/css/AjoutStaff.css"> 

    <div class="container">
			<div class="row main">
				<div class="panel-heading col-6 mx-auto">
	               <div class="panel-title text-center">
	               		<h1 class="title">Ajouter un membre</h1>
	               	</div>
	            </div> 
				<div class="main-register main-center col-6">
					<form action="{{ root }}/ajoutStaff" method="post" class="row">
						
						<div class="form-group">
                            <i class="fas fa-portrait"></i>
							<label for="identifiant" class="cols-sm-2 control-label">Identifiant</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" name="identifiant" id="identifiant"  placeholder="Entrer un identifiant"/>
								</div>
							</div>
						</div>

						<div class="form-group">
                            <i class="fas fa-at"></i>
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" name="email" id="email"  placeholder="Entrer un Email"/>
								</div>
							</div>
						</div>

						<div class="form-group">
                            <i class="fas fa-key"></i>
							<label for="password" class="cols-sm-2 control-label">Mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="password" class="form-control" name="password" id="password"  placeholder="Entrer un mot de passe"/>
								</div>
							</div>
						</div>

						<div class="form-group">
                            <label for="droit">Rôle :</label>
                            <select class="form-control" id="droit" name="droit">
                                <option value="1" selected>Animateur</option>
                                <option value="2">Gestionnaire</option>
                            </select>
                        </div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Ajouter</button>
						</div>
					</form>
				</div>
			</div>
    </div>
{% endblock %}