{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block body %}

	<div class="titre">
		<i class="fas fa-plus-circle fa-3x" style="margin-right:15px;"></i>
		<h1>Gestion des Créneaux</h1>
	</div>

	<div class="legend">
		<h4>
			Légende
		</h4>
		<div class="pannelLegende">
			<ul class='legendLabels'>
				<li>
					<span style='background:white;'></span>Créneau Libre</li>
				<li>
					<span style='background:orange;'></span>Créneau non attribué</li>
				<li>
					<span style='background:green;'></span>Créneau attribué</li>
			</ul>
		</div>
	</div>
{% endblock %}
