{% set root = base_url() %}
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/81967f5e6f.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{ root }}/public/style/css/style.css">

		<title>Net'Radio</title>

	</head>
	<body>
		<div class="header">
			<h1>Net'Radio GESTION</h1>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
