{% extends 'Template.html.twig' %}
{% set root = base_url() %}
{% block body %}
    <form action="">
        <div class="form-group">
            <label for="identifiant">Identifiant :</label>
            <input type="text" class="form-control" id="identifiant">
        </div>
        <div class="form-group">
            <label for="mdp">Mot de Passe :</label>
            <input type="password" id="mdp">
        </div>
    </form>
{% endblock %}