{% set root = base_url() %}
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="{{ root }}/public/lib/jquery/jquery-3.4.1.min.js"></script>

		<!--	<link rel="stylesheet" href="{{ root }}/public/style/css/"> -->

		<title>Net'Radio</title>

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
