{% set root = base_url() %}
<!doctype html>
<html lang="fr">
	<head>
		{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="icon" type="image/png" href="{{ root }}/public/images/logo_netradio.png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{{ root }}/public/lib/style/css/all.min.css">
		<link rel="stylesheet" href="{{ root }}/public/style/css/Header.css"> 
		<script src="{{ root }}/public/lib/notify.js"></script>

		<title>Net'Radio</title>

		{% endblock %}
	</head>
	<body>
		
		{% block body %}
			{% include "Navbar.html.twig" %}
		{% endblock %}
	</body>
</html>
