.containerP {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 14em 14em 14em 14em;
  grid-row-gap: 10px;
  gap: 7px;
  width: 80%;
  margin: 0 auto;
  color:#343a40;
}

.programme {
  height: 14em;
  width: auto;
  border : 2px solid #343a40;
  padding-left: 10px;
  padding-top: 5px;
  white-space: normal;
  position: relative;
  background-color: #e19a3ed2;
}

p {
  margin-top: 0;
}

.titre {
  width:65%;
  margin:0 auto;
  color:#e19a3e;
  background-color: #343a40;
  padding-top:7px;
  margin-bottom:15px;
  a:hover{
      color:white;
  }
}

label {
  margin-bottom: 0;
}

.logo {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .containerP {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12em 12em;
    grid-row-gap: 1px;
    gap: 7px;
    width: 80%;
    margin: 0 auto;
  }
}

a:hover {
  color:white;
}