p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: grey;
  color: white;
}

.pannelBtn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.bouton {
  border: 1px solid black;
  text-align: center;
  padding: 6px 6px 6px 6px;
  cursor: pointer;
  width: 7em;
  &:hover{
    background-color: #e19a3e;
  }
}

i {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.titre {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.retourMenu:hover {
  text-decoration: none;
  color : rgb(44, 43, 40);
}

body {
  background-image:url('https://cdn3.vectorstock.com/i/1000x1000/41/22/abstract-grunge-background-with-retro-radio-vector-19874122.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width:100%;
}
